.typage_field_image { position:relative; }
.typage_field_image_thumb { height:20px; }
.typage_field_image_medium { display:none; position:absolute; top:0; left:0; }

.button-weight { margin-left:5px; }